.container .videoList::-webkit-scrollbar {
  width: 7px;
}

.container .videoList::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container .videoList::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}