.name {
  text-decoration: underline;
  font-size: 32px;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    #a020f0,
    #ff0000,
    #ff8c00,
    #ffff00,
    #00ff00,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff8c00,
    #ff0000,
    #a020f0
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 40s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 600% 0;
  }
}
